<ion-header-bar align-title="left" class="bar-light barheadcolor " style="height:56px;"  >
  <h1 class="title" style="margin-top: 7px;color: #fff;">To Do list</h1>
  <div class="buttons">
    <!-- <button class="button" ng-click="doSomething()"><i class="icon ion-plus"></i></button> -->
    <div class="add-img">
       <img src="img/add-bt.png"  ng-click="doSomething()">
    </div>
  </div>

</ion-header-bar>


<ion-view>
<div class="shadow "></div>
  <ion-content style="background-color: #fff;" >   
              <div ng-hide="spin"><ion-spinner></ion-spinner></div> 
      
 <ion-list can-swipe="true" id="test2" ng-show="spin">
  <ion-item ng-repeat="arr in arrname" style="border-left: 12px solid {{arr.colorcode}}; border-top:{{arr.colorcode}};border-bottom: #fff;">
                    
   <a href="#/itemlist/{{arr.grocery_id}}" style="text-decoration:none; color:#2e3841; size : 16px;font weight : 200;"  > 
          <h3 style="font-size: 18px;">{{arr.listname}}</h3></a>
          <ion-option-button style="background-color:{{arr.colorcode}};border-color:{{arr.colorcode}}" class="button-assertive icon ion-trash-a" ng-click="deletegro(arr)"></ion-option-button> 

</ion-item>
<ion-item ng-show="blnk">
<h3 style="font-size: 21px;">  No category to display</h3>

</ion-item>
</ion-list>

  
  </ion-content>
</ion-view>
